<div>
  <h1> <%= name %> </h1>
  <img src="https://www.mapquestapi.com/staticmap/v5/map?key=9V9esHFJ0JNWGiuIXVieiLhBHzseqFTD&size=600,400
            &zoom=17&locations=<%= lat %>,<%= lng %>
            &defaultMarker=marker-lg-3B5998-22407F&size=1100,500@2x" alt="img" >
</div>