<!doctype HTML>
<html>
  <head>
    <title>Box Location <%= id %></title>
  </head>
  <body>
    <div>
      <%- box %>  
    </div>
    <div>
      <%- list %>
    </div>
    <div>
      <%- request %>  
    </div>
  </body>
</html>