<!doctype HTML>
<html>
  <head>
    <title>Box Location <%= id %></title>
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-item" location>
        <%- box %>  
      </div>
      <div class="grid-item" location>
        <%- list %>
      </div>
      <div class="grid-item" location>
        <%- request %>  
      </div>
    </div>
  </body>
</html>