<nav style="outline:0.01em solid black; padding: 20px;">
  <h2 style="text-align: center;">Requests</h2>
  <ul>
  <% requests.forEach((request) => { %>
    <div style="outline:0.01em solid black; padding: 20px;">
      <label style="max-width: 300px; word-wrap: break-word"> <%= request.request %> </label>
      <br>
      <label > Status: 
        <% if (request.fulfilled == 1) { %> 
          Fulfilled
        <% } else {%>
          Unfulfilled
        <% } %>
      </label>
    </div>
    
  <% }); %>
  </ul>
</nav>