<nav>
  <h2>Requests</h2>
  <ul>
  <% requests.forEach((request) => { %>
    <li>
      <label> ID: <%= request.id %> </label>
      <br>
      <label> Content: <%= request.request %> </label>
      <br>
      <label> Fulfilled: 
        <% if (request.fulfilled == 1) { %> 
          Yes
        <% } else {%>
          No
        <% } %>
      </label>
    </li>
  <% }); %>
  </ul>
</nav>